{% extends "layout.html" %}

{% block title %}
    Statistics
{% endblock %}
    
{% block main %}
    <form action="/stats" method='post'>
        <div class="form-group">
            <label for="client">Client: </label>
            <select name="client_id">
                <option value="all">ALL</option>
                {% for client in clients %}
                    {% if client.id|int() == selected_client_id|int() %}
                        <option value="{{ client.id }}" selected>{{ client.name }}</option> 
                    {% else %}
                        <option value="{{ client.id }}" >{{ client.name }}</option> 
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit" class="btn">Show statistics</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nb of open projects</th>
                <th>Nb of project offered</th>
                <th>Mean offer value</th>
                <th>Nb of orders</th>
                <th>Mean order value</th>
                <th>Conversion rate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ projects.open }}</td>
                <td>{{ projects.offers }}</td>
                <td>{{ projects.mean_offer | eur if (projects.mean_offer != None) else "N/A"}}</td>
                <td>{{ projects.orders }}</td>
                {% if projects.mean_order != none %}
                    <td>{{ projects.mean_order | eur if (projects.mean_order != None) else "N/A"}}</td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
                <td>{{ projects.conversion }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}